<!DOCTYPE html>
<html lang="en" ng-app = "App">
<head>
  <title>Story</title>
  
  <link rel="stylesheet" href="../css/test.css">
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/ngDraggable/ngDraggable.js"></script>
  <script src="./storypoint.js"></script>
  
</head>
<body>

  <div class="container" ng-controller="MainCtrl">

    <div class="row">
      <h1> Clone Example</h1>
    </div>
      <!-- <input type="text" class = "drag-object" placeholder = "newObject" ng-model="createObject"> -->
      <button ng-click = "createObject({name: 'fuck'})">addOne</button> 

      <div class="drag-object" ng-repeat="obj in draggableObjects" ng-if="obj.allowClone !== false">
          {{obj.name}}
          <div ng-drag="true" ng-drag-data="obj"></div>
      </div>
      <div class="drag-object"  style="background-color: transparent; overflow: visible">
          <div ng-drag="true" class="drag-object" ng-drag-data="draggableObjects[3]">{{draggableObjects[3].name}}</div>
      </div>
      <hr/>
      <div ng-drop="true" ng-drop-success="onDropComplete1($data,$event)">
          <span class="title">Complete</span>

          <div ng-repeat="obj in droppedObjects1" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccess1($data,$event)">
              {{obj.name}}
          </div>

      </div>
       <div ng-drop="true" ng-drop-success="onDropComplete2($data,$event)">
          <span class="title">Complete</span>

          <div ng-repeat="obj in droppedObjects2" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccess1($data,$event)">
              {{obj.name}}
          </div>
      </div>
    <hr>
  </div>


  <div ng-drag-clone="">
      {{clonedData.name}}
  </div>

  <footer style="margin-top:2000px;">footer</footer>



</body>
</html>
