<div class= "modal modal-chart" modal="showModal" close="cancel()">
  <div class="modal-chart-header">
    BurnDown Chart
  </div>

  <div ng-controller='analyticsCtrl' class="ng-chart-scope" >
      <div 
        data-ac-chart="'area'" 
        data-ac-data="data" 
        data-ac-config="config" 
        class="chart">
      </div>
  </div>
  <br>
  <div class="modal-chart-footer">
    <button class="btn btn-success" ng-click="ok()">Okay</button>
    <button class="btn" ng-click="cancel()">Cancel</button>
  </div>
</div>