<div class="top-bar" ng-controller="analyticsCtrl as my">
<button class="fa fa-bars" ng-click="my.toggle()"></button>
</div>
  <div class="off-canvas__container off-canvas__content">
        <div class="col-xs-12 column-bg" ng-init="renderBoard(); start();">
          <div class="container column-bg">
            <div class="row">
              <div class="col-xs-6 column">
                <a class="thumbnail">
                  <img src="/../../img/burnDown.png" class="graphThumb" ng-click="openBurndown()"alt="...">
                </a>
                  <!-- <button class="btn btn-lg" ng-click="openBurndown()">Burndown</button>  -->
              </div>
              <div class="col-xs-6 column">
                  <a class="thumbnail">
                    <img src="/../../img/velocity.png" class="graphThumb" ng-click="openVelocity()"alt="...">
                  </a>
                 <!-- <button class="btn btn-lg" ng-click="openVelocity()">Velocity</button> -->
                </div>
              </div>
          </div>
        </div>
  </div>
