.signin-bg {
  background: url('../img/sheep-herder.jpg') no-repeat center center;
    height: 100vh;
    width: 100%;
    background-size: cover;
}

#column-bg {
  background-color: grey;
}

.container {
  margin-right: 10px;
}

#page {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  z-index: -1;
}

.sidebar-container {
  height: 100%;
  position: absolute;
  display: block;
  margin: 0;
  padding-left: 0;
  z-index: 1001;
}

.sidebar-container ul {
  padding-top: 20px;
  padding-left: 25px;
}

.sidebar-container li {
  list-style: none;
  white-space: nowrap;
  padding-bottom: 20px;
}

.sidebar-container a {

}

.fa {
  display: inline-block;
  color: lightyellow;
}

.nav-list-icon {
  font-size: 40px;
  line-height: 50px;
  vertical-align: middle;
  width: 40px;
}

.container h3 {
  text-align: center;
  color: lightyellow;
}

.container .col-xs-4 {
  border-right: 5px solid;
  text-align: center;
  min-height: 466px;
  padding: 10px, 20px;
}