@import url(http://fonts.googleapis.com/css?family=Roboto);
/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #fcfff5;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}
.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container h3 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}

.icon-github-sign{
  font-size: 60px;
  margin-left: 120px;
}

.signin-bg {
  background: url('../img/sheep-herder-compressed.jpg') no-repeat center center;
  background-blend-mode: multiply;
  background-color: #d1dbbd;
    height: 100vh;
    width: 100%;
    background-size: cover;
    padding-top: 80px;
}

.modal-dialog {
  margin-top: 0;
}

 .add-feature-modal {
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
    margin-top: 40px;
    text-align: center;  
    padding-top: 40px;
 }

 .add-feature-modal .add-feature-body {
  margin-bottom: 30px;
 }

 a:hover {
  text-decoration: none;
 }

.modal {
  top: 15%;
  bottom: 15%;
}

/* --------------------------------- StoryBoard Styling --------------------------------- */

.add-feature {
  background: none;
  border: none;
}

.feature-header .feature-title h2{
  font: Helvetica sans-serif;
  font-weight: 200;
  margin-bottom: 35px;
  color: black;
}

.container-fluid {
  padding-left: 0;
}

.nav-bg {
  background-color: #039676;
  height: 100vh;
  padding-top: 6%;
}

.sidebar-nav {
  height: 100%;
  display: block;
  margin: 0;
  padding-left: 0;
}

.sidebar-nav ul {
  padding-top: inherit;
  padding-left: inherit;
  height: inherit;
}

.sidebar-nav li {
  list-style: none;
  white-space: nowrap;
  padding-bottom: 20px;
}

.nav-list-icon {
  font-size: 40px;
  line-height: 50px;
  vertical-align: middle;
  width: 40px;
}

.fa {
  display: inline-block;
  width: 40px;
  font-size: 40px;
  padding: 10px 11px;
  line-height: 50px;
  color: #fcfff5;
}
.column-bg {
  background-color: #d1dbbd;
}

.fa-github-square {
  font-size: 80px;
  color: black;
  margin-left: 100px;
}

.fa-gear:before, .fa-cog:before {
  padding: 5px;
}

.fa-plus {
    border:none;
}

.fa-lock:before {
  padding-left: 8px;
}

.fa-sign-out:before {
  padding-left: 6px;
}

.container .col-xs-4 {
  border-right: 5px solid;
  text-align: center;
  height: 100vh;
  padding-left: 1%;
  padding-right: 1%;
  overflow-y: scroll;
}

/* ------------------------- Test Boxes --------------------- */

ul[dnd-list],
ul[dnd-list] > li {
  position: relative;
}

ul[dnd-list] {
    min-height: 550px;
    padding-left: 0px;
}

ul[dnd-list] .dndDraggingSource {
    display: none;
    min-height: 42px;
}


ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #4ab8a4;
    border-style: none;
    min-height: 20%;
}

ul[dnd-list] li {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px auto;
    margin-bottom: 50px;
    margin-left: 15%;
    margin-right: 15%;
    padding-right: 4%;
    padding-left: 4%;
}

ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

/* ------------------------- Modal / Graph Boxes --------------------- */

body {
  overflow-y: hidden;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  background-color: #f4f6ef;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.fade.in {
  top: 10%;
}

.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}

.modal-header .close {
  margin-top: 2px;
}

.modal-header h3 {
  margin: 0;
  line-height: 30px;
}

.modal-body {
  position: relative;
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}

.modal-form {
  margin-bottom: 0;
}

.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  line-height: 0;
  content: "";
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

ul li:nth-child(1) .card {
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:5px;
}

ul li:nth-child(even) .card {
  -o-transform:rotate(2deg);
  -webkit-transform:rotate(2deg);
  -moz-transform:rotate(2deg);
  position:relative;
  top:5px;
}
ul li:nth-child(3n) .card {
  -o-transform:rotate(-1deg);
  -webkit-transform:rotate(-1deg);
  -moz-transform:rotate(-1deg);
  position:relative;
  top:-5px;
}
ul li:nth-child(5n) .card {
  -o-transform:rotate(3deg);
  -webkit-transform:rotate(3deg);
  -moz-transform:rotate(3deg);
  position:relative;
  top:-10px;
}

li .card {
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.2);
  width: 100%;
  font-family:"Reenie Beanie",arial,sans-serif;
}

.card .card-header {
  cursor: move;
  background-color: #fcfff5;
  color: black;
  font-size: 30px;
  height: 25px;
  padding-top: 1%;
  float: left;
  margin-left: 8px;
  font-weight: 400;
  text-decoration: underline;
  text-align: center;
}

.card .card-body {
  padding: 5px 5px 2px 5px;
  font-size: 15px;
  word-wrap: break-word;
  background-color: #fcfff5;
  font-size: 30px;
  height: inherit;
}

.card .card-body .comments {
  border: none;
  resize: none;
  word-wrap: break-word;
  overflow: hidden;
  background-color: #fcfff5;
  margin-top: 10px;
  width: 100%;
  font-size: 100%;
  height: inherit;
}

.card .card-body .card-footer {
  padding-left: 1px;
  height: 35px;
}

.card-body .card-points {
  float: right;
  font-size: 120%;
}
/* ------------------------- Analytics /// Chart --------------------- */

.modal-chart{
  background-color: #d8d8d8;
  width: 1000px;
  left: 50%;
  margin-left: -500px;
}
.chart {
 width: 900px;
 height: 500px;
 background-color: #d8d8d8;
 margin: auto;
}
.angular-charts-template ng-scope{
}
.modal-chart-header{
}
.modal-chart ng-scope modal{
}
.modal-chart-footer{
  padding-top: 25px;
  float: left;
}
.ng-scope{
}
.ng-chart-scope ng-scope{
}
