  <div class="container-fluid mobile-padding">
    <div class="row">
      <div class="col-xs-1 nav-bg" ng-include="'./includes/navbar.html'"></div>
      <div class="col-xs-11 column-bg">
        <div class="container sprint-body">
          <div class="col-md-6">
            <h2>Create a sprint</h2>
            <div class="sprint-name">
              <input ng-model="newSprint.name" ng-keyup="$event.keyCode == 13 && changeTeam(team)" placeholder="Enter sprint name" type="text" />
            </div>
            <h3>Start Date</h3>
              <p class="input-group">
                <input type="date" class="form-control" datepicker-popup ng-model="newSprint.start" is-open="status.opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              </p>
            <h3>End Date</h3>
              <p class="input-group">
                <input type="date" class="form-control" datepicker-popup ng-model="newSprint.end" is-open="status.opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              </p>
              <button class="btn btn-lg" ng-click="createSprint(newSprint); ok()">
                Submit
              </button>
          </div>
        </div>
      </div>
    </div>
  </div>
