  <div class="top-bar" ng-controller="storyBoardCtrl as my">
  <button class="fa fa-bars" ng-click="my.toggle()"></button>
  </div>
  <div class="off-canvas__container off-canvas__content" ng-controller="sprintSetupCtrl">
        <div class="col-xs-12 column-bg">
          <div class="container column-bg">
            <div class="col-md-6">
              <div class="sprint-body">
                <h2>Create a sprint</h2>
                <div class="sprint-name">
                  <input ng-model="newSprint.name" ng-keyup="$event.keyCode == 13 && changeTeam(team)" placeholder="Enter sprint name" type="text" />
                </div>
                <h3>Start Date</h3>
                  <p class="input-group">
                    <input type="date" class="form-control" datepicker-popup ng-model="newSprint.sprintstart" is-open="status.opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                  </p>
                <h3>End Date</h3>
                  <p class="input-group">
                    <input type="date" class="form-control" datepicker-popup ng-model="newSprint.sprintend" is-open="status.opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                  </p>
                  <button class="btn btn-lg" ng-click="createSprint(newSprint)">
                    Submit
                  </button>
                </div>
            </div>
          </div>
        </div>
  </div>
