  <div class="top-bar" ng-controller="storyBoardCtrl as my">
  <button class="fa fa-bars" ng-click="my.toggle()"></button>
  </div>
    <div class="off-canvas__container off-canvas__content">
          <div class="col-xs-12 column-bg">
            <div class="container column-bg">
              <div class="team-body">
                <h2>Join a team</h2>
                <div class="join-team">
                  <input ng-model="team.name" ng-keyup="$event.keyCode == 13 && changeTeam(team)" placeholder="Enter team name" type="text" />
                </div>
                <h2>Create a team</h2>
                <div class="create-team">
                  <input ng-model="newTeam.name" placeholder="Create your team name" ng-keyup="$event.keyCode == 13 && createTeam(newTeam)"type="text" />
                </div>
              </div>
            </div>
          </div>
    </div>
