  <div class="container-fluid mobile-padding">
    <div class="row">
      <div class="col-xs-1 nav-bg" ng-include="'./includes/navbar.html'"></div>
      <div class="col-xs-11 column-bg">
        <div class="container">
          <div class="team-body">
            <h2>Join a team</h2>
            <div class="join-team">
              <input ng-model="team.name" ng-keyup="$event.keyCode == 13 && changeTeam(team)" placeholder="Enter team name" type="text" />
            </div>
            <h2>Create a team</h2>
            <div class="create-team">
              <input ng-model="newTeam.name" placeholder="Create your team name" ng-keyup="$event.keyCode == 13 && createTeam(newTeam)"type="text" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>