<div class="sidebar-nav">
    <ul>
      <li><a href="#"><i class="grow fa fa-gear nav-list-icon"></i></a></li>
      <div id= "analyticsModal" ng-controller='analyticsCtrl'>
      <li><a href = "#" ng-click="open()"><i class="grow fa fa-area-chart nav-list-icon"></i></a></li> 
      		<div modal="showModal" close="cancel()" ng-include="'../js/controllers/analytics/analytics.html'"></div>
      </div>
      <div id= "featureSetupModal" ng-controller='featureSetupCtrl'>
      <li><a href="#" ng-click="open()"><i class="grow fa fa-plus"></i></a></li>
          <div class="featureModal" modal="showModal" close="cancel()" ng-include="'../js/controllers/featureSetup/featureSetup.html'"></div>
      </div>
      <li><a href="/logout"><i class="grow fa fa-sign-out"></i></a></li>
    </ul>
</div>


 
