<div class="off-canvas__container off-canvas__content" ng-controller="storyBoardCtrl">
  <div class="add-feature-modal">
    <div class="add-feature-body">
      <div class="add-feature-name">
        <input ng-model="feature.name" placeholder="Enter feature name" type="text" />
      </div>
      <div class="add-feature-description">
        <input ng-model="feature.description" placeholder="Enter feature description" type="text" />
      </div>
      <div class="add-feature-points">
        <a class="fa fa-plus-circle" ng-click="addFeature(feature); ok();"></a>
        <input ng-model="feature.points" placeholder="Points" type="text" /> <br />
      </div>
    </div>
  </div>
</div>
