  <div class="add-feature-modal">
    <h1>Enter feature</h1>
    <form class="add-feature-body">
      <label for="">Feature Name</label> <br />
      <input ng-model="feature.name" type="text" /> <br />
      <label for="">Feature Description</label> <br />
      <input ng-model="feature.description" type="text" /> <br />
      <label for="">Points Amount</label> <br />
      <input ng-model="feature.points" type="text" /> <br />
    </form>
    <button class="btn btn-default" ng-click="addFeature(feature); ok()">
      Add a Feature
    </button>
  </div>
